.meal-dialog-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    img {
        width: 90%;
    }

    pre {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        white-space: pre-wrap;
    }
}

.muted-text {
    color: gray;
}