<mat-form-field class="large-field" appearance="fill">
  <mat-label>Ingredients</mat-label>
  <input
    type="text"
    placeholder="Select one"
    aria-label="Ingredients"
    matInput
    [formControl]="lookupControl"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
